@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "mobileMaster.cshtml";
}



    <div class="container-fluid">

        <div class="row text-center mt-2">
            <div class="col">
                <p>@Model.Value("PageBody")</p>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col">
                <a href="/mobilehome/mobilefritid/" class="custom-card">
                    <div class="card">
                     
                        @*<div class="card-head" style="background-color: lightblue;">

                        </div>*@

                        <div class="card-body" style="background-color: lightblue;">
                            <h5 class="card-title">Fritidskurser</h5>
                            <p class="card-text ">Roligare och Tryggare Om Alla Kan | Kurser och Båtar Godkända av Transportstyrelsen</p>
                        </div>

                        <div class="container">
                            <img class="card-img-bottom" src="~/Media/boat.jpg">
                            <div class="chip bottom-left">
                                <img src="~/Media/nina.jpg" alt="Person" width="96" height="96">
                                <div class="chiptxt">
                                    <b style="color:black">Nina tipsar</b>
                                </div>

                                <div class="chiptxt">
                                    Det finns få platser kvar på kursen
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>


       
    </div>




