@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/css/mobileMaster.css")" />

    @RenderSection("Header", required: false)
</head>

<body>

    <nav class="navbar sticky-top navbar-light white">

        <a class="navbar-brand" href="#"><img src="/media/logga.jpg" alt="Sjösportskolan.se" style="width:119px;height:56px;"></a>
        <a class="btn-floating btn-sm btn-warning" data-toggle="modal" data-target="#kurserModalCenter"><i class="fas fa-phone"></i></a>
        <a class="btn-floating btn-sm btn-warning" data-toggle="modal" data-target="#searchModalCenter"><i class="fas fa-gift"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>

            </ul>
        </div>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="kurserModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <img src="~/Media/nina.jpg" width="80" height="80" />
                    <p style="margin-left:8px" class="modal-title" id="exampleModalLongTitle">Nina</p>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    Hej,

                    <p>Presentkort är en bra idé. Gör så att du först väljer vilken kurs du vill ge bort. När du hittat den så väljer du att köpa presentkort för den kursen.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="searchModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <img src="~/Media/calle.jpg" width="80" height="80" />
                    <p style="margin-left:8px" class="modal-title" id="exampleModalLongTitle">Calle</p>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    @Model.Value("ModalGiftTitle")

                    <p>Jag gillar också att söka</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()




    @*<div class="container-fluid">
            <div class="row justify-content-center" style="background-color: black;color:white">
                <div class="col-xs-12 ">
                    Adress
                </div>
            </div>
        </div>*@

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/js/mdb.min.js"></script>
</body>

</html>