
.container {
    position: relative;
    text-align: center;
    color: white;
     padding-right: 0px; 
     padding-left: 0px; 
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.chip {
    display: inline-block;
    padding: 0px 25px 8px;
    height: 50px;
    width: 200px;
    font-size: 14px;
    line-height: 12px;
    border-radius: 25px;
    background-color: #ed7f00;
    color: white;
}

.chiptxt {
    text-align:left;
    padding-top: 4px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

a.custom-card,
a.custom-card:active
a.custom-card:link
a.custom-card:visited,
a.custom-card:hover {
  color: inherit;
 text-decoration: none;
}


.menuButton {
    background-color: #faaa31;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family:"Georgia, Helvetica, Arial";
}

p{
       font-family:"Arial, Helvetica, sans-serif"; 
    
}
.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 1em; /* Height of footer */
    min-height: 100%;
}

header {
    background-color: #cff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #000;
}